# Duplicate and rename this file to .env and adjust values as needed

FORECAST_API_KEY=your Forecast.io api key

TWITTER_CONSUMER_KEY=your app's API key
TWITTER_CONSUMER_SECRET=your app's API secret
TWITTER_OAUTH_TOKEN=your user's access token
TWITTER_OAUTH_SECRET=your user's access secret
